@{
    Layout = "~/Views/User/_UserLayout.cshtml";
}

<h2>Gestion de blog : @ViewBag.Title</h2>

@{
    // Lien vers les créations d'articles
    string quote = Url.Action("AddQuote", "ArticleCreation", new { blogId = ViewBag.id });
    string music = Url.Action("AddMusic", "ArticleCreation", new { blogId = ViewBag.id });
    string img = Url.Action("AddImage", "ArticleCreation", new { blogId = ViewBag.id });
    string video = Url.Action("AddVideo", "ArticleCreation", new { blogId = ViewBag.id });
}

    <ul>
        <li class="button"><a href="@quote" >Ajouter un article - quote</a></li>
        <li class="button"><a href="@music" >Ajouter un article - musique</a></li>
        <li class="button"><a href="@img" >Ajouter un article - image</a></li>
        <li class="button"><a href="@video" >Ajouter un article - video</a></li>
    </ul>

<ul>
@foreach (DataAccess.T_Article art in ViewBag.Articles)
{
    <li> @art.Text </li>
}
</ul>


