@model UserInterface.Models.StyleChoiceModel

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/User/_UserLayout.cshtml";
}

<h2>Profil : @ViewBag.Username</h2>

<br/>
<strong>Prénom :</strong> @ViewBag.FirstName<br/>
<strong>Nom :</strong> @ViewBag.Name<br/>

@{
    string plur = "blog";
    if (ViewBag.NumBlog > 1){
        plur += "s";}
    }

Vous avez <strong>@ViewBag.NumBlog</strong> @plur actuellement.
<br /><br /><br /><br /><br />

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)


        <div class="editor-label">
            @Html.LabelFor(model => model.style)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.style, new SelectList(BusinessManagement.DropDownLists.getStyles(), "Id", "Description"))
            @Html.ValidationMessageFor(model => model.style)
        </div>
    <p>
            <input type="submit" value="Mettre à jour" />
    </p>
}

