@model UserInterface.Models.FileModel
@using BusinessManagement

@{
    ViewBag.Title = "Ajouter un article avec un fichier son.";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddMusic", "ArticleCreation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    @Html.LabelFor(model => model.File)
    @Html.TextBoxFor(model => model.File, new { type = "file" })
    <br />
    @Html.LabelFor(model => model.Caption)
    @Html.TextAreaFor(model => model.Caption, new { style="resize:none" })

    <input type="submit" value="Valider" />
}