@model UserInterface.Models.QuoteModel
@using BusinessManagement

@{
    ViewBag.Title = "Ajouter un article avec une citation.";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddQuote", "ArticleCreation", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.LabelFor(model => model.Quote)
    @Html.TextAreaFor(model => model.Quote, new { style="resize:none" })
    <br />
    @Html.LabelFor(model => model.Caption)
    @Html.TextAreaFor(model => model.Caption, new { style="resize:none" })

    <input type="submit" value="Valider" />
}