<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
        @{
        BusinessManagement.User us = new BusinessManagement.User(User.Identity.Name);
        string css = Url.Content(us.GetCSSPath());
     }
    <link rel="stylesheet" type="text/css" href="@css">
    
</head>
<body>
    <div id="header">
        @{
            string urlSearch = Url.Content("~/Search/Search");
            }
        <form action="@urlSearch" method="get">
            <input type="text" name="search" />
            <select name="type">
                <option> Utilisateur </option>
                <option> Theme </option>
                <option> Tag </option>
            </select>
            <input type="submit" value="Submit" />
        </form>
    </div>
    <img id="logo" src="../Content/images/logo.png" alt="logo"/>
    @{
        string listBlog = Url.Content("~/Blog/Index");
        string connec = Url.Content("~/Login.aspx");
        string prof = Url.Content("~/User/Profile");
        string blog = Url.Content("~/User/Blog");
        string follows = Url.Content("~/User/Follow");
        string followed = "";
        
        if (User.Identity.IsAuthenticated)
        {
            followed = Url.Content("~/User/Followers?id=" + us.getId());
        }
    }
    <ul id="navigation">
        <li><a href="@listBlog">Liste des blogs</a></li>
        <li>|</li>
        @if (User.Identity.IsAuthenticated)
        {
            <li><a href="@prof">Profil</a></li>
            <li><a href="@blog">Blog</a></li>
            <li><a href="@follows">Follows</a></li>
            <li><a href="@followed">Followers</a></li>
        }
        else
        {
            <li><a href="@connec">Connexion</a></li>
        }
    </ul>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        @{
            string home = Url.Content("~");
         }
        <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="@home">Home</a></li>
            <li id="last"><a href="#">Credits</a></li>
        </ul>
    </div>
</body>
</html>
