@model UserInterface.Models.BlogDisplayModel
@{
    Layout = "~/Views/Blog/_BlogLayout.cshtml";
}

<h2>@Model.Title</h2>
<p>Créé par @Model.Author</p>

<div class="description">@Model.Description</div>
<br/><br/>
@foreach (UserInterface.Models.ArticleModel article in Model.ArticleModels)
{
    @Html.Partial("_DisplayArticle", article)
    @*<div class="article">
        <div class="content">@article.Text</div>
        <div class="infos">
            Le : @article.CreationDate<br/>
            <a>Lien vers l'article</a>
        </div>
    </div>*@
}

