@model UserInterface.Models.BlogDisplayModel
@{
    Layout = "~/Views/Blog/_BlogLayout.cshtml";
}

<h2>@Model.Title</h2>
<p>Créé par @Model.Author</p>

<div class="description">@Model.Description
    <p>
        @if (User.Identity.IsAuthenticated && BusinessManagement.Follow.doFollow(User.Identity.Name, Model.IdBlog))
        { 
            <button type="button" onclick="self.location.href='@Url.Content("~/Blog/UnFollow?id="+Model.IdBlog)'">Ne plus suivre</button>
        }
        else if (User.Identity.IsAuthenticated)
        {
            <button type="button" onclick="self.location.href='@Url.Content("~/Blog/FollowBlog?id="+Model.IdBlog)'">Suivre</button>
        }

    </p>
</div>
<br/><br/>
@foreach (UserInterface.Models.ArticleModel article in Model.ArticleModels)
{
    @Html.Partial("_DisplayArticle", article)
    @*<div class="article">
        <div class="content">@article.Text</div>
        <div class="infos">
            Le : @article.CreationDate<br/>
            <a>Lien vers l'article</a>
        </div>
    </div>*@
}

