@model UserInterface.Models.ArticleModel
@using BusinessManagement
@using Dbo

<fieldset>
    <legend>Article</legend>
    @if (Model.MediaType == (long)Tools.MediaTypes.Image)
    {
        <div class="display-field">
            <img alt="image" src="@Path.Combine(Server.MapPath("~/Medias"), Model.MediaUrl)" />
        </div>
    }
    else if (Model.MediaType == (long)Tools.MediaTypes.Music)
    {
        <audio controls height="100" width="100">
          <source src="@Model.MediaUrl" type="audio/mpeg">
          <embed height="50" width="100" src="@Path.Combine(Server.MapPath("~/Medias"), Model.MediaUrl)">
          Votre navigateur ne supporte pas ce format audio.
        </audio>
    }
    else if (Model.MediaType == (long)Tools.MediaTypes.Quote)
    {
        <div class="display-field">
            <span>@Model.MediaUrl</span>
        </div>
    }
    else if (Model.MediaType == (long)Tools.MediaTypes.Video)
    {
        <iframe width="640" height="385" src="//www.youtube.com/embed/@Model.MediaUrl" frameborder="0" allowfullscreen="true"></iframe>
    }

    @*Display the caption if exists.*@
    @if(!String.IsNullOrEmpty(Model.Caption))
    {
        <div class="display-label">Légende</div>
        <div class="display-field">
            <span>@Model.Caption</span>
        </div>
    }
</fieldset>
<fieldset>
    <legend>Tags</legend>
    @foreach (Dbo.Tag tag in @Model.Tags)
    {
        <a href="@Url.Content("../Search/SearchTags?tags=" + tag.Name)">@tag.Name</a>
        <span>, </span>
    }
</fieldset>
<fieldset>
    <legend>Commentaires</legend>
<<<<<<< HEAD
    Ajouter un commentaire<BR/>
    @foreach (Dbo.Comment comment in @Model.Comments)
    {
        <a href="@Url.Content("../Blog/DisplayUserBlogs?id=" + comment.UserId)">@comment.UserName</a><span> :</span>
        <span><BR/> - @comment.Content</span><BR/>
    }
</fieldset>
=======
</fieldset>
>>>>>>> f71fecee8fc1a4d62c7a701c1fd3d971c8da26cb
